
* {
font-family:'Times New Roman', Times, serif;
 }

/* .vedio {
    height: 1000vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;

} */
.amain{
    padding: 10px;
}


.img1 {
    background-image: url('../../Assetss/home/IMG-20240224-WA0024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}
.fontsize{
    font-size: 20px;
}
.b{
    font-weight: bold;
}

.t1 {

   text-align:start;
}

.c{
    color: gray;

}

.ci:hover {
    transform: scale(0.6);
    transition-duration: 1s;
}

.cc1:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/Orange and Green Organic Illustration Candle Product Label (4).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cc2:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/Orange and Green Organic Illustration Candle Product Label (5).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cc3:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/Orange and Green Organic Illustration Candle Product Label (6).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cc4:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/Orange and Green Organic Illustration Candle Product Label (7).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ccc4:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/imagesorange.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ccc2:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/images\ melons.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.ccc3:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/green\ apple\ images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ccc1:hover {
    border-top: gray solid 5px;
    background-image: url("../../Assetss/home/love spell images.jpeg");
    background-repeat: no-repeat;
    background-size:contain;
}
.hh13{
    background-color: rgb(225, 225, 225);
}
.atag{
    font-family: serif;
    text-decoration: none;
    color: black;
}
.atag:hover{
    color: blue;
}

.icons1{
    color: white;
    font-size: 40px
}
.a3{
    text-align: start;
    padding-left: 8%;
    padding-right: 8%;
}
.a2{
    text-align: start;
    
}
.bord{
   
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px;
}
.d-block,.mb-1{
    text-decoration: none;
    color: rgb(50, 50, 50);
    
}
.fani{
    animation-duration:5s;
    animation-name: slidein;
}
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
